body {
    background-color: #EA4B16;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: #d3d3d3;
    padding: 25px;
    widht: 400px;
    border-radius: 12px;
    box-shadow: 0 0 25px
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
.action-section {
    display: flex;
    gap: 35vh;
    margin-bottom: 15px;
}
input {
    flex: 1;
    padding: 8px;
    border-radius: 4px;
    border: none;
    background: #ffffff
}
button {
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px
}
th,td {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 10px
}
.completed {
    text-decoration: line-through;
    color: gray;